@model IspitiDetaljiViewModel
@{
    ViewData["Title"] = "Detalji";
}

<h2>Podaci o ispitu (readonly)</h2>

<div class="form-group">
    <label>Ispitivač:</label>
    <input asp-for="MaturskiIspit.Nastavnik.ImePrezime" class="form-control" disabled />
</div>


<div class="form-group">
    <label>Datum:</label>
    <input asp-for="MaturskiIspit.Datum" class="form-control" value="@Model.MaturskiIspit.Datum.ToShortDateString()" disabled />
</div>


<div class="form-group">
    <label>Odjeljenje:</label>
    <input asp-for="MaturskiIspit.Odjeljenje.Naziv" class="form-control" disabled />
</div>



<div id="ajaxDiv" style="border: 1px solid black; padding:20px;"></div>

<script>

    $(function () {

        $.ajax({
            url: "@Url.Action("Index", "AjaxStavke", new { maturskiIspitId = Model.MaturskiIspit.Id})",
            type: "GET",
            success: function (data) {
                $("#ajaxDiv").html(data);
            }
        })

    });

</script>