@using Ispit_2017_09_11_DotnetCore.ViewModels

@{
    ViewData["Title"] = "Index";
    OdjeljenjeIndexVM ulazniPodatak = Model;
}

<h2>Index</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Skolska godina</th>
        <th>Razred(od 1 do 4)</th>
        <th>Oznaka</th>
        <th>Razrednik</th>
        <th>Prebaceni u visi razred(odjeljenje)</th>
        <th>Akcija</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>

<a href="/Odjeljenje/Dodaj">Dodaj</a>