
@{
    ViewBag.Title = "Index";
}

<h2>Home/Index</h2>
<h2>Dobro došli</h2>


<br />
@Html.ActionLink("Ajax text", "Index", "AjaxTest")
<br />
@Html.ActionLink("DB text", "TestDB", "Home")   << -- Prije nego što kliknete prepravite <strong> Connection string </strong> i izvršite migraciju.
<br />
@Html.ActionLink("UputnicaController/Index", "Index", "Uputnica")  << -- Potrebno implementirati!