@model OdrzaniCasoviIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Datum održanog časa</th>
            <th>Odjeljenje</th>
            <th>Broj prisutnih</th>
            <th>Predmet</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

