@model UputnicaDodajViewModel
@{
    ViewData["Title"] = "Dodaj";
}

<h2>Nova uputnica</h2>

<form asp-action="Dodaj" method="post">
    <div class="form-group">
        <label>Ljekar uputio:</label>
        <select asp-for="Uputnica.UputioLjekarId" asp-items="Model.LjekarUputio" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Datum uputnice:</label>
        <input asp-for="Uputnica.DatumUputnice" class="form-control" />
        <span asp-validation-for="Uputnica.DatumUputnice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Pacijent:</label>
        <select asp-for="Uputnica.PacijentId" asp-items="Model.Pacijenti" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Vrsta pretrage:</label>
        <select asp-for="Uputnica.VrstaPretrageId" asp-items="Model.VrstePretrage" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary">Snimi</button>
</form>

