@model CasoviIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Nastavnici</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nastavnik</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.Rows)
        {
        <tr>
            <td>@r.Nastavnik</td>
            <td>
                <a asp-action="OdrzaniCasovi" asp-route-id="@r.NastavnikId" class="btn btn-info" >Odrzani casovi</a>
            </td>
        </tr>
        }
    </tbody>
</table>

